<div class="app">
  <div class="app-header">
    <button (click)="showAddForm()">Add a transfer</button>
  </div>
  <div class="app-content">
    <table class="app-grid">
      <thead>
      <tr>
        <th
          [ngClass]="orderByClass(fields.IpBlock)"
          (click)="orderBy(fields.IpBlock)"
          i18n>Internet number sources
        </th>
        <th
          [ngClass]="orderByClass(fields.FromCompany)"
          (click)="orderBy(fields.FromCompany)"
          i18n>Transfer form
        </th>
        <th
          [ngClass]="orderByClass(fields.ToCompany)"
          (click)="orderBy(fields.ToCompany)"
          i18n>Transfer to
        </th>
        <th
          [ngClass]="orderByClass(fields.Date)"
          (click)="orderBy(fields.Date)"
          i18n>Date
        </th>
        <th
          [ngClass]="orderByClass(fields.TransferType)"
          (click)="orderBy(fields.TransferType)"
          i18n>Transfer type
        </th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transfer of transfers$ | async">
        <td>{{transfer.ipBlock}}</td>
        <td>{{transfer.fromCompany}}</td>
        <td>{{transfer.toCompany}}</td>
        <td>{{transfer.date | date: 'dd/MM/yyyy'}}</td>
        <td>
          <app-transfer-types [type]="transfer.transferType"></app-transfer-types>
        </td>
        <td>
          <button (click)="showUpdateForm(transfer)">Edit</button>
        </td>
        <td>
          <button (click)="showDeleteForm(transfer)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="app-modal" *ngIf="(modalState$$ | async) !== modalTypes.None">
  <div class="app-modal-layer" (click)="closeModal()"></div>
  <div class="app-modal-content">
    <ng-container [ngSwitch]="modalState$$ | async">
      <ng-container *ngSwitchCase="modalTypes.Add">
        <h2 i18n>Register the resource</h2>
        <app-transfer-form #add></app-transfer-form>
        <button
          [disabled]="add.form.invalid"
          (click)="addTransfer(add.form.value)"
          i18n>Add
        </button>
        <a class="app-form-cancel" href="javascript:" (click)="closeModal()" i18n>Cancel</a>
      </ng-container>
      <ng-container *ngSwitchCase="modalTypes.Edit">
        <ng-container *ngIf="modalData$$ | async as data">
          <h2 i18n>Edit the resource</h2>
          <p>{{data.ipBlock}}</p>
          <app-transfer-form [data]="data" #edit></app-transfer-form>
          <button
            [disabled]="edit.form.invalid"
            (click)="updateTransfer(data.id, edit.form.value)"
            i18n>Edit
          </button>
          <a class="app-form-cancel" href="javascript:" (click)="closeModal()" i18n>Cancel</a>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="modalTypes.Delete">
        <ng-container *ngIf="modalData$$ | async as data">
          <h2 i18n>Resource Deleting</h2>
          <p>Are you going to delete the resource?</p>
          <pre>{{data | json}}</pre>
          <button
            (click)="deleteTransfer(data.id)"
            i18n>Delete
          </button>
          <a class="app-form-cancel" href="javascript:" (click)="closeModal()" i18n>Cancel</a>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>
