app-root {
  font-family: Arial, sans-serif;
  font-size: 12px;
  button {
    background-color: #070038;
    color: #fff;
    border: 1px solid #342e5c;
    cursor: pointer;
    padding: 4px 8px;
  }
}
